{% extends 'base/base.html' %}
{% block 'title' %} Inicio {%endblock%}
{% block 'content' %}
<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

    <main class="container">

        <div class="row g-5">

            <div class="col-md-12">
                {% include "blog/featured.html" %}
            </div>

        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Más Artículos
                </h3>
                {% for post in post_list %}
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">
                        {% comment %} <a href="{% url 'blog:post' post.slug %}" style="text-decoration: none"
                            class="text-black">
                            {{ post.title }}
                        </a> {% endcomment %}
                        <a href="{{ post.get_absolute_url }}" style="text-decoration: none" class="text-black">
                            {{ post.title }}
                        </a>
                    </h2>
                    <p class="blog-post-meta">{{ post.date_created.date }}. {{post.author}}</p>

                    <hr>
                    <p>{{ post.overview }}</p>
                </article>
                {% endfor %}

            </div>

            {% include 'blog/aside.html '%}
        <nav class="blog-pagination" aria-label="Pagination">
            {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary rounded-pill"
                href="?page={{ page_obj.previous_page_number }}{% if query %}&search={{ query }}{% endif %}">Antes</a>
            {% else %}
            <a class="btn btn-outline-secondary rounded-pill disabled">Antes</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-primary rounded-pill"
                href="?page={{ page_obj.next_page_number }}{% if query %}&search={{ query }}{% endif %}">Siguiente</a>
            {% else %}
            <a class="btn btn-outline-secondary rounded-pill disabled">Siguiente</a>
            {% endif %}
        </nav>
    </main>
</div>
{% endblock %}