{% extends 'base/base.html' %}
{% load markdown_extras %}


{% block 'title'%} {{ user }} {% endblock %}

{%block 'content' %}

<div class="container-xxl bd-gutter pt-5 my-md-4 bd-layout">

    <main class="container">

        <div class="row g-5">
            <div class="col-md-12 d-flex justify-content-center">

                <div class="row">


                    <div class="card mb-3 p-2 w-100">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show w-100" role="alert">
                            <strong>{{message | safe }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ0ZVi3CUb8rmyWiVc3zNTRnClsgd03IM38xgpUYVy5ZXiSYX0FGpO749fLptsJrNGIW8&usqp=CAU"
                            class="card-img-top" alt="thumbnail">
                        <div class="card-body">
                            <a href="{{ post.get_absolute_url }}" style="text-decoration: none" class="text-black">
                                <h5 class="card-title">{{ user }}</h5>
                            </a>
                            <p class="card-text">{{user.username}}</p>
                            <p class="card-text"><small class="text-muted"> {{ user.email }}</small></p>
                            <div>
                                <a href="{% url 'users:update' pk=user.id%}" class="btn btn-lg btn-info mt-4 w-100">Actualizar
                                    Perfil</a>
                                <a href="{% url 'users:delete' pk=user.id%}" class="btn btn-lg btn-danger mt-4 w-100">Eliminar Usuario</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </main>
</div>
{% endblock %}